<div class="row">
  <div ng-if="!defenders.player1">
    <h2 class="text-center">No shield holders, the first challengers will become the shield holders</h2>
  </div>

  <div ng-if="defenders.player1">
    <h1 class="text-center">Current Shield Holders</h1>

    <div id="playerSection" class="row text-center" style="padding-bottom: 50px">
      <div class="col-xs-6">
        <img ng-src="{{defenders.player1.playerImage}}"/>
      </div>
      <div class="col-xs-6">
        <img ng-src="{{defenders.player2.playerImage}}"/>
      </div>

    </div>

  </div>
</div>

<div class="row" style="margin-bottom: 20px">

  <div class="col-xs-4">
    <button class="btn btn-default" ng-click="addTeam()">Add Challenge</button>
  </div>
  <div class="col-md-offset-4 col-xs-">
    <button class="btn btn-danger pull-right" style="margin-right: 5px" ng-click="challengersLost()">Lost</button>
    <button class="btn btn-success pull-right" style="margin-right: 5px" ng-click="challengersWon()">Won</button>
  </div>
</div>


<div class="row" style="margin-bottom: 20px">
  <h3 class="text-center">Challengers</h3>
  <table class="table">
    <tr>
      <th></th>
      <th>Player 1</th>
      <th>Player 2</th>

    </tr>
    <tr ng-repeat="challengeTeam in challengers">
      <td>
        <button type="button" class="btn btn-danger" ng-click="removeTeam(challengeTeam)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>
      <td style="vertical-align: middle"><img class="leaderboardAvatar" ng-src="{{challengeTeam.player1.playerImage}}"/>{{challengeTeam.player1.name}}
      </td>
      <td style="vertical-align: middle"><img class="leaderboardAvatar" ng-src="{{challengeTeam.player2.playerImage}}"/>{{challengeTeam.player2.name}}
      </td>

    </tr>
  </table>
</div>

<div class="row">
  <table class="table">
    <tr>
      <th>Rank</th>
      <th>Name</th>
    </tr>
    <tr ng-repeat='comp in team' style="cursor: pointer;" ng-class="{'bg-primary': comp.selected}"
        ng-click="selectPlayer(comp)">
      <td style="vertical-align: middle">{{comp.activeRank}}</td>
      <td style="vertical-align: middle"><img class="leaderboardAvatar" ng-src="{{comp.playerImage}}"/> {{comp.name}}
      </td>
    </tr>
  </table>
</div>
