<div class="row">
  <h1 >Handicap: <strong><span ng-if="handicap">Team {{handicapedTeam}} has a handicap of {{handicap}}</span></strong></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Team 1</h2>
    <table class="table" >
      <tr><th>Rank</th><th>Name</th></tr>
      <tr ng-repeat='comp in team1' style="cursor: pointer;" ng-class="{'bg-primary': comp.selected}" ng-click="selectPlayer(1, comp)">
        <td style="vertical-align: middle">{{comp.rank}}</td>
        <td style="vertical-align: middle"> <img class="leaderboardAvatar" ng-src="{{comp.playerImage}}"/> {{comp.name}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h2>Team 2</h2>
    <table class="table">
      <tr><th>Rank</th><th>Name</th></tr>
      <tr ng-repeat='comp in team2' style="cursor: pointer;" ng-class="{'bg-primary': comp.selected}" ng-click="selectPlayer(2, comp)">
        <td style="vertical-align: middle">{{comp.rank}}</td>
        <td style="vertical-align: middle"><img class="leaderboardAvatar" ng-src="{{comp.playerImage}}"/> {{comp.name}} </td>
      </tr>
    </table>
  </div>

</div>

