
<div class="row">
  <div class="col-md-6">
    <h2>Team A</h2>
    <table>
      <tr>
        <td style="width:160px;"><h4>Rank Handicap:</h4></td>
        <td><h4>{{rankHandicapA}}</h4></td>
      </tr>
      <tr>
        <td style="width:160px;"><h4>ELO Handicap:</h4></td>
        <td><h4>{{eloHandicapA}}</h4></td>
      </tr>
    </table>
    <br />
    <table class="table" >
      <tr><th>Rank</th><th>Name</th></tr>
      <tr ng-repeat='comp in teamA' style="cursor: pointer;" ng-class="{'bg-primary': comp.selected}" ng-click="selectPlayer(1, comp)">
        <td style="vertical-align: middle">{{comp.activeRank}}</td>
        <td style="vertical-align: middle"> <img class="leaderboardAvatar" ng-src="{{comp.playerImage}}"/> {{comp.name}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h2>Team B</h2>
    <table>
      <tr>
        <td style="width:160px;"><h4>Rank Handicap:</h4></td>
        <td><h4>{{rankHandicapB}}</h4></td>
      </tr>
      <tr>
        <td style="width:160px;"><h4>ELO Handicap:</h4></td>
        <td><h4>{{eloHandicapB}}</h4></td>
      </tr>
    </table>
    <br />
    <table class="table">
      <tr><th>Rank</th><th>Name</th></tr>
      <tr ng-repeat='comp in teamB' style="cursor: pointer;" ng-class="{'bg-primary': comp.selected}" ng-click="selectPlayer(2, comp)">
        <td style="vertical-align: middle">{{comp.activeRank}}</td>
        <td style="vertical-align: middle"><img class="leaderboardAvatar" ng-src="{{comp.playerImage}}"/> {{comp.name}} </td>
      </tr>
    </table>
  </div>

</div>

