
<div class="row">
  <div class="col-md-6">
    <h2>Team A</h2>
    <table class="table">
      <tr><td>Rank Handicap:</td><td>{{rankHandicapA}}</td></tr>
      <tr><td>ELO Handicap:</td><td>{{eloHandicapA}}</td></tr>
    </table>
    <table class="table" >
      <tr><th>Rank</th><th>Name</th></tr>
      <tr ng-repeat='comp in teamA' style="cursor: pointer;" ng-class="{'bg-primary': comp.selected}" ng-click="selectPlayer(1, comp)">
        <td style="vertical-align: middle">{{comp.activeRank}}</td>
        <td style="vertical-align: middle"> <img class="leaderboardAvatar" ng-src="{{comp.playerImage}}"/> {{comp.name}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h2>Team B</h2>
    <table class="table">
      <tr><td>Rank Handicap:</td><td>{{rankHandicapB}}</td></tr>
      <tr><td>ELO Handicap:</td><td>{{eloHandicapB}}</td></tr>
    </table>
    <table class="table">
      <tr><th>Rank</th><th>Name</th></tr>
      <tr ng-repeat='comp in teamB' style="cursor: pointer;" ng-class="{'bg-primary': comp.selected}" ng-click="selectPlayer(2, comp)">
        <td style="vertical-align: middle">{{comp.activeRank}}</td>
        <td style="vertical-align: middle"><img class="leaderboardAvatar" ng-src="{{comp.playerImage}}"/> {{comp.name}} </td>
      </tr>
    </table>
  </div>

</div>

